<a href="https://colab.research.google.com/github/Atria14/data-science/blob/main/01_wprowadzenie/04_pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Podstawowe struktury danych: pd.Series](#a1)
2. [Podstawowe struktury danych: pd.DataFrame](#a2)
3. [Selekcja kolumn](#a3)

pandas - biblioteka dobrze udokumentowana, do analizy danych.
Obiekt Series i DataFrame - podstawowe obiekty w pandas.

Podstawowe struktury danych pd.Series

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

Różnica między pd.Series a np.array:
mamy indeks przypisany do każdego wiersza, domyślnie numerowany od liczby 0

In [ ]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd']) # przypisanie własnych indeksów
s

a    3
b    2
c    4
d    6
dtype: int64

Za indeks można użyć daty. Po indeksach można wycinać.

In [ ]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name = 'sample') # przypisanie nazwy
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [ ]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name = 'sample') # w przypadku jednej cyfry float - całość będzie typu float
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
#wstawianie braków danych za pomocą numpy
import numpy as np

# np.naan- atrybut pozwalający wstawiać braki danych. Przy kalkulacji średniej w przypadku zastosowania 0 - byłby wpływ na średnią. W przypadku np.nan - nie wpływa na średnią.
s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name = 'sample')
s

# biblioteka pandas rónież posiada sposoby na wypełnianie braków danych lub ich usuwanie - konieczne do poprawnej analizy danych

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
# obiekty Series typu bool
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [ ]:
# daty za indeks
# arange generuje nam dane w podanym zakresie
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20210101', periods = 10))
s
# pandas posiada bibliotekę date_range która generuje daty. Trzeba podać datę startu

2021-01-01    10
2021-01-02    11
2021-01-03    12
2021-01-04    13
2021-01-05    14
2021-01-06    15
2021-01-07    16
2021-01-08    17
2021-01-09    18
2021-01-10    19
Freq: D, dtype: int64

In [ ]:
s.index # parametry indeksu, w tym przypadku daty
list(s.index) # przekonwertowanie obiektu na listę

[Timestamp('2021-01-01 00:00:00', freq='D'),
 Timestamp('2021-01-02 00:00:00', freq='D'),
 Timestamp('2021-01-03 00:00:00', freq='D'),
 Timestamp('2021-01-04 00:00:00', freq='D'),
 Timestamp('2021-01-05 00:00:00', freq='D'),
 Timestamp('2021-01-06 00:00:00', freq='D'),
 Timestamp('2021-01-07 00:00:00', freq='D'),
 Timestamp('2021-01-08 00:00:00', freq='D'),
 Timestamp('2021-01-09 00:00:00', freq='D'),
 Timestamp('2021-01-10 00:00:00', freq='D')]

In [ ]:
s.dtypes

dtype('int64')

In [ ]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages') # w przypadku danych typu tekst mamy dane typu object
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.shape # zwróci kształt danych w postaci tuple

(3,)

In [ ]:
s.index # parametry indeksu

RangeIndex(start=0, stop=3, step=1)

In [ ]:
s.values # wygeneruje tablice wartości w postaci array

array(['python', 'java', 'sql'], dtype=object)

In [ ]:
s.dtypes #dla tekstu zwróci 0

dtype('O')

In [ ]:
s.shape # zwróci kształt danych

(10,)

In [ ]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900}) # dane w postaci bibliteki {}
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

In [ ]:
price['CD Projekt'] # wycinaine wartości przez podanie nazwy wartości

60

In [ ]:
price[1] # wyciągnięcie przez podanie indeksu, numerujemy od 0

60

In [ ]:
price.count() # zliczy ile mamy elementów w naszym obiekcie typu Series

3

In [ ]:
price.value_counts() # podaje rozkład danych, ile występuje która dana

200     1
60      1
1900    1
dtype: int64

In [ ]:
price.sum() # sumuje wartości z obiektu typu Series

2160

In [ ]:
price.max() # wartość maksymalna

1900

In [ ]:
price.min()

60

In [ ]:
price.std() # średnia

1024.3046421841502

In [ ]:
price.describe() # podstawowa statystyka dla danych

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.describe().T

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
# w przypadku braku danych

price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan}) 
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price.value_counts(dropna=False) # w przypadku braku danych, nie wchodzi on do obliczeń:
# dropna=False - powoduje wyświetlenie braku danych

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [ ]:
price.count()

3

In [ ]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.nlargest(1) # wyciągnie największy obiekt, 1 - jedna wartość, 2 - dwie kolejne

Amazon    1900.0
dtype: float64

In [ ]:
price.nsmallest(1) #  wyciągnie najmniejszy obiekt, 1 - jedna wartość, 2 - dwie kolejne, brak danych - nie zwraca

CD Projekt    60.0
dtype: float64

In [ ]:
price.rank() # posortowane elementy od najmniejszego do największego przydziela numery

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
price.sort_values() # sortuje wartości

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price.sort_values(ascending = False) # sortuje wartości od najwyższej do najniższej

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln = price.apply(lambda x: x * 3.8) # funkcja pomnoży występujące w słowniku wartości * 3,8 (np zmiana waluty)

In [ ]:
price # zmiany nie zostały przypisane do obiektu, price odwołuje się do pierwotnego

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64