<a href="https://colab.research.google.com/github/Atria14/data-science/blob/main/01_wprowadzenie/05_pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Podstawowe struktury danych: pd.DataFrame - ramka danych. Analogiczne do Series ale majÄ… lepszy interfejs.

In [ ]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [ ]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [ ]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO PB'],
                        'mWIG40' : ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO PB  Playway

In [ ]:
df = pd.DataFrame(data=[[12, 12, 32], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      12     12     32
second     23     12     10

NajczÄ™sciej DataFrame zaczytujemy z baz danych, csv itp.

In [ ]:
# wyÅ›wietlenie nazwy kolumny
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [ ]:
df.index

Index(['first', 'second'], dtype='object')

In [ ]:
df.values

array([[12, 12, 32],
       [23, 12, 10]])

In [ ]:
df.info() # informacje nt obiektu 
#index - 2 wiersze
# 3 kolumny
# informacje - ile mamy danych nie zerowych
# non-null oznacza Å¼e nie mamy wartoÅ›ci zerowych
# typ danych np liczba caÅ‚kowita 64bit
# ile pamiÄ™ci zuÅ¼yliÅ›my do zapisu tego obiektu DataFrame

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [ ]:
df.describe()
# poda liczbÄ™ elementÃ³w wystÄ™pujÄ…cych w kaÅ¼dej kolumnie
# poda Å›redniÄ…, odchylenie, mediane, min, max

           col_1  col_2      col_3
count   2.000000    2.0   2.000000
mean   17.500000   12.0  21.000000
std     7.778175    0.0  15.556349
min    12.000000   12.0  10.000000
25%    14.750000   12.0  15.500000
50%    17.500000   12.0  21.000000
75%    20.250000   12.0  26.500000
max    23.000000   12.0  32.000000

In [ ]:
df.describe().T # wyÅ›wietlanie w tabeli

       count  mean        std   min    25%   50%    75%   max
col_1    2.0  17.5   7.778175  12.0  14.75  17.5  20.25  23.0
col_2    2.0  12.0   0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  21.0  15.556349  10.0  15.50  21.0  26.50  32.0

In [ ]:
# wycinanie kolumny z obiektu
df['col_1']

first     12
second    23
Name: col_1, dtype: int64

In [ ]:
type(df['col_1']) # obiekt DataFrame skÅ‚ada siÄ™ z wielu obiektÃ³w Series

pandas.core.series.Series

In [ ]:
df[['col_1']] # podwÃ³jny [[]] wycina kolumne

        col_1
first      12
second     23

In [ ]:
type(df[['col_1']]) # po takim wyciÄ™ciu mamy juÅ¼ typ DataFrame

pandas.core.frame.DataFrame

In [ ]:
df.columns = ['a', 'sprzedaz_grudzien', 'c'] # zmiana nazwy kolumny
df

         a  sprzedaz_grudzien   c
first   12                 12  32
second  23                 12  10

In [ ]:
# bez uÅ¼ywania [[]] moÅ¼na wyciÄ…Ä‡ tak podajÄ…c nazwe kolumny
df.a

first     12
second    23
Name: a, dtype: int64

In [ ]:
df.sprzedaz_grudzien

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

In [ ]:
df['d'] = df.a + df.c # suma kolumny a oraz c w nowej kolumnie d
df

         a  sprzedaz_grudzien   c   d
first   12                 12  32  44
second  23                 12  10  33

In [ ]:
df = pd.DataFrame(data=[[12, 12, 32], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      12     12     32
second     23     12     10

In [ ]:
df.loc['first'] # pozwala wycinaÄ‡ obiekty po nazwach - wyciÄ…Å‚ pierwszy wiersz

col_1    12
col_2    12
col_3    32
Name: first, dtype: int64

In [ ]:
df.iloc[0] # podajemy index

col_1    12
col_2    12
col_3    32
Name: first, dtype: int64

In [ ]:
df.loc['first', 'col_2'] # wyciÄ™cie wartoÅ›ci z tabeli DataFrame

12

In [ ]:
# wyciÄ™cie caÅ‚ej kolumny, w [] podajemy zakres
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [ ]:
df.iloc[0]

col_1    12
col_2    12
col_3    32
Name: first, dtype: int64

In [ ]:
df.iloc[0,1] # wycinanie konkretnej wartoÅ›ci, podajÄ…c jego poÅ‚oÅ¼enie

12